html {
  background-color: black;
}
body {
  color: red;
}
.warn {
  color:red;
}
.vamp {
  height: 300px;
  width: auto;
}
.wolf {
  height: 300px;
  width: auto;
}
.BOO {
  height: 300px;
  width: auto;
}
.spell {
  height: 300px;
  width: auto;
}
.skeletons {
  height: 300px;
  width: auto;
}
.zombie {
  height: 300px;
  width: auto;
}
